* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh; /*view height*/
    display: grid;
    place-items: center;
    color: #adb5bd;
    background-color: #111;
    font-family: sans-serif;
}

/*label*/
div[class^="line-"] {
    width: 100px;
    height: 10px;
    background-color: #fff;
    margin: 10px 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

/* Styling for .lines class*/

.lines {
    z-index: 1;
    cursor: pointer;
}

/* This is the Hamburger menu Toggle on & off*/

/*when our input with an id menue-active is checked it's gonna target the label, and do the changes according to the styles we have set*/
#menu-active:checked ~ label .line-1 {
    transform: translateY(10px) rotate(45deg);
    -webkit-transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    margin: 10px 0;
}

#menu-active:checked ~ label .line-2 {
    /*for cross we don't need this line so scale will be 0*/
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

#menu-active:checked ~ label .line-3 {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    margin: -20px 0;
}

/*Styling configuration for the .menu class
This is the main container that holds the 3 sections
The (.items.first), label & (.items.last)*/

input[type="checkbox"] {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
}

/*Styling rules for the checkbox label*/
label {
    display: flex;
    flex-direction: row;
}

/*Styling of the .items class (includes both .first &
.last classes)*/
.items {
    font-size: 18px;
    font-weight: 600;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: center; /*x axis*/
    align-items: center; /*y axis*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 0;
}

div[class^="i-"] {
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

div:hover[class^="i-"] {
    color: #fff;
}

/*Configuring the initial position of .first & .last
class(the menu item)*/

.first {
    transform: translate(100px);
    -webkit-transform: translate(100px);
    -moz-transform: translate(100px);
    -ms-transform: translate(100px);
    -o-transform: translate(100px);
    opacity: 0;
}

.last {
    transform: translate(-100px);
    -webkit-transform: translate(-100px);
    -moz-transform: translate(-100px);
    -ms-transform: translate(-100px);
    -o-transform: translate(-100px);
    opacity: 0;
}

/*This is the transition of menu items on & off*/
#menu-active:checked ~ .first {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    opacity: 1;
}
#menu-active:checked ~ .last {
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    opacity: 1;
}
